.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 500px;
    background: #FFF;
    border: solid 1px #5A6F07;
    padding: 25px 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.container label {
    display: block;
    margin-top: .5rem;
    color: #5A6F07;
    font-size: 1.2rem;
}

.container select {
    all: unset;
    border-bottom: solid 1px #5A6F07;
    width: 100%;
    box-sizing: border-box;
    padding: .3rem;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #5A6F07;
}

.address {
    width: 100%;
    margin-top: 20px;
    background-color: #F5F5F5;
    border: solid 1px #5A6F07;
    border-radius: .5rem;
    padding: 25px 35px;
}

legend {
    font-size: 1.3rem;
    color: #5A6F07;
}

h1 {
    color: #205522;
}

.container input {
    all: unset;
    border-bottom: solid 1px #5A6F07;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    margin-bottom: 10px;
    color: #205522;
    font-size: 1.1rem;
}

.form-btn {
    width: 100px;
    margin-top: 2rem;
    background-color: #5A6F07;
    color: #FFF;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}

.form-btn:hover {
    background-color: #93AD18;
}
